/*NAVBAR*/
a {
    text-decoration: none;
    color: white;
}

.navbar {
    background: #43a047;
    padding: 30px;
    font-size: large;
    color: white;
}



/*GALERIA*/
.galeria {
    display: grid;
    gap: 10px;
}

.grid-columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.galeria .foto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    height: 220px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;    
    cursor: pointer;
}

.galeria .foto:hover {
    box-shadow: 0px 0px 3px 2px black;
}

.galeria .foto svg {
    align-self: flex-end;
}

.p-3 {
    padding: 30px;
}